@import url(friendly.css);

body{
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman"

}

.tag{
    background-color: #89cff0;
    color: #222;
    text-transform: uppercase;
    border-radius: 2px;
    width: fit-content;
    height: auto;
    padding: 1px 5px;
    margin: 1px;
    font-size: 12px;

}

p > a{
    color: #89cff0;
    text-decoration: none;
}

footer{
    width: 100%;
    text-align: center;
    padding: 10px;
    color: gray;
}

article > h3{
    margin-bottom: 5px;
}

.article-body{
    padding-top: 2vh;
}


nav > a, article > a{
    text-decoration:none;
    color:inherit;
}

h1{font-size: 30px;}
h2{font-size: 18.54px;}

p{
    font-size: 18.54px;
    text-align: justify;
}

h1, h2, h3{
    color: #222;
}
p{
    color: #444;
}

blockquote > p{
    text-align: none;
    font-family : Baskerville, Georgia, serif;
    font-style : italic;
    font-size : 30px;
    text-shadow : 0 1px 1px rgba(255, 255, 255, 0.5);
}

nav{
    color: #444;
    display: block;
    justify-content: space-around;
}

nav .link{
    float: right;
}

code{
    font-family: Times New Roman;
}

/* Large Screens */
@media only screen and (min-width: 750px)
{
    nav{
       padding: 20px 10vw;
    }

    article{
        padding: 5vh 20vw;
    }

}


/* Small Screens */
@media only screen and (max-width: 750px)
{
    nav{
       padding: 20px 5vw;
    }

    article{
        padding: 5vh 5vw;
    }
}
